    <!-- footer -->
    <div class="py-lg-10 py-5">
        <div class="container">
          <div class="row  justify-content-center text-center  ">
            <div class="col-12 col-md-12 col-xl-8 px-0 ">
                <nav class="nav nav-footer justify-content-center">
                    <a class="nav-link" href="#!">About </a>
                    <a class="nav-link" href="#!">Blog  </a>
                    <a class="nav-link" href="#!">Send feedback</a>
                    <a class="nav-link" href="#!">Terms & Conditions</a>
                    <a class="nav-link" href="#!">Get Support</a>
                </nav>
            </div>
            <!-- Desc -->
            <div class="col-lg-8 col-md-12 col-12">
                <div class="my-6">
                    <!--Facebook-->
                    <a href="#!" class="text-muted me-4">
                        <i class="fab fa-facebook fs-3"></i>
                    </a>
                    <!--Twitter-->
                    <a href="#!" class="text-muted me-4">
                        <i class="fab fa-twitter fs-3"></i>
                    </a>
                    <!--LinkedIn-->
                    <a href="#!" class="text-muted me-4">
                        <i class="fab fa-linkedin fs-3"></i>
                    </a>
                    <!--GitHub-->
                    <a href="#!" class="text-muted me-4">
                        <i class="fab fa-github fs-3"></i>
                    </a>
                     <!--GitHub-->
                     <a href="#!" class="text-muted">
                        <i class="fab fa-twitch fs-3"></i>
                    </a>
                </div>
                </div>
            <div class="col-lg-8 col-md-12 col-12">
                <span>© 2021 Geeks-UI, Inc. All Rights Reserved</span>
                </div>

              <!-- Links -->

        </div>
        </div>
      </div>
