 <!-- Sidebar -->
 <nav class="navbar-vertical navbar">
    <div class="nav-scroller">
        <!-- Brand logo -->
        <a class="navbar-brand" href="../../index.html">
            <img src="../../assets/images/brand/logo/logo-inverse.svg" alt="" />
        </a>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <a class="nav-link  @@if (context.page_group !== 'dashboard') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navDashboard" aria-expanded="false" aria-controls="navDashboard">
                    <i class="nav-icon fe fe-home me-2"></i> Dashboard
                </a>
                <div id="navDashboard" class="collapse @@if (context.page_group === 'dashboard') { show }" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item ">
                            <a class="nav-link @@if (context.page === 'overview') { active }" href="@@webRoot/pages/dashboard/admin-dashboard.html">
                                    Overview
                                </a>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item ">
                            <a class="nav-link @@if (context.page === 'analytics') { active }" href="@@webRoot/pages/dashboard/dashboard-analytics.html">
                                    Analytics

                                </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link @@if (context.page_group !== 'courses') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navCourses" aria-expanded="false" aria-controls="navCourses">
                    <i class="nav-icon fe fe-book me-2"></i> Courses
                </a>
                <div id="navCourses"  class="collapse @@if (context.page_group === 'courses') { show }"  data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'allcourses') { active }" href="@@webRoot/pages/dashboard/admin-course-overview.html">
                                    All Courses
                                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'coursescategory') { active }" href="@@webRoot/pages/dashboard/admin-course-category.html">
                                    Courses Category
                                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'categorysingle') { active }" href="@@webRoot/pages/dashboard/admin-course-category-single.html">
                                    Category Single
                                </a>
                        </li>
                    </ul>
                </div>
            </li>
             <!-- Nav item -->
             <li class="nav-item">
                <a class="nav-link  @@if (context.page_group !== 'user') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navProfile" aria-expanded="false" aria-controls="navProfile">
                    <i class="nav-icon fe fe-user me-2"></i> User
                </a>
                <div id="navProfile" class="collapse @@if (context.page_group === 'user') { show }" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'instructor') { active }" href="@@webRoot/pages/dashboard/admin-instructor.html">
                                    Instructor
                                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'students') { active }" href="@@webRoot/pages/dashboard/admin-students.html">Students</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Nav item -->
                <li class="nav-item ">
                    <a
                        class="nav-link  @@if (context.page_group !== 'cms') { collapsed } "
                        href="#!"
                        data-bs-toggle="collapse"
                        data-bs-target="#navCMS"
                        aria-expanded="false"
                        aria-controls="navCMS"
                    >
                        <i class="nav-icon fe fe-book-open me-2"></i> CMS
                    </a>
                            <div id="navCMS" class="collapse @@if (context.page_group === 'cms') { show } " data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link  @@if (context.page === 'overview') { active } " href="@@webRoot/pages/dashboard/admin-cms-overview.html">
                                    Overview
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'allpost') { active } " href="@@webRoot/pages/dashboard/admin-cms-post.html">
                                    All Post
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'newpost') { active }" href="@@webRoot/pages/dashboard/admin-cms-post-new.html">
                                    New Post
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'category') { active }" href="@@webRoot/pages/dashboard/admin-cms-post-category.html">
                                    Category
                                </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page_group !== 'authentication') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navAuthentication" aria-expanded="false" aria-controls="navAuthentication">
                                <i class="nav-icon fe fe-lock me-2"></i> Authentication
                            </a>
                            <div id="navAuthentication" class="collapse @@if (context.page_group === 'authentication') { show }" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'signin') { active }" href="@@webRoot/pages/sign-in.html">Sign In</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'signup') { active } " href="@@webRoot/pages/sign-up.html">Sign Up</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'forgetpassword') { active }" href="@@webRoot/pages/forget-password.html">
                                    Forget Password
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  @@if (context.page === 'notification') { active }" href="@@webRoot/pages/dashboard/notification-history.html">
                                    Notifications
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  @@if (context.page === '404error') { active }" href="@@webRoot/pages/404-error.html"> 404 Error</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <div class="nav-divider"></div>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <div class="navbar-heading">Apps</div>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'chatapp') { active }" href="@@webRoot/pages/dashboard/chat-app.html">
                                <i class="nav-icon fe fe-message-square me-2"></i> Chat

                            </a>
                        </li>
                              <!-- Nav item -->
        <li class="nav-item">
            <a class="nav-link @@if (context.page === 'task') { active }" href="@@webRoot/pages/dashboard/task-kanban.html">
                <i class="nav-icon mdi mdi-trello me-2"></i>
                Task<span class="badge bg-warning ms-2">New</span>
            </a>
        </li>
                        <li class="nav-item">
                            <div class="nav-divider"></div>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <div class="navbar-heading">Components</div>
                        </li>
                         <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page_group !== 'tables') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navTables" aria-expanded="false" aria-controls="navTables">
                                <i class="nav-icon fe fe-database me-2"></i> Tables<span class="badge bg-warning ms-2">New</span>
                            </a>
                            <div id="navTables" class="collapse @@if (context.page_group === 'tables') { show }" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'basic') { active }" href="@@webRoot/pages/dashboard/basic-table.html">
                                    Basic
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'datatables') { active }" href="@@webRoot/pages/dashboard/datatables.html">
                                            Data Tables
                                </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <!-- Nav item -->
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'helpcenter') { active }" href="#!">
                                <i class="nav-icon fe fe-help-circle me-2"></i> Help Center
                                <span class="badge bg-success ms-2">Pro</span>
                            </a>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page_group !== 'sitesetting') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navSiteSetting" aria-expanded="false" aria-controls="navSiteSetting">
                                <i class="nav-icon fe fe-settings me-2"></i> Site Setting
                            </a>
                            <div id="navSiteSetting" class="collapse @@if (context.page_group === 'sitesetting') { show }" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'general') { active }" href="@@webRoot/pages/dashboard/setting-general.html">
                                    General
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'google') { active }" href="@@webRoot/pages/dashboard/setting-google.html">
                                    Google
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'social') { active }" href="@@webRoot/pages/dashboard/setting-social.html">
                                    Social
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'sociallogin') { active }" href="@@webRoot/pages/dashboard/setting-social-login.html">
                                    Social Login
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'payment') { active }" href="@@webRoot/pages/dashboard/setting-payment.html">
                                    Payment
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'smpt') { active }" href="@@webRoot/pages/dashboard/setting-smpt.html">
                                    SMPT
                                </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page_group !== 'menulevel') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navMenuLevel" aria-expanded="false" aria-controls="navMenuLevel">
                                <i class="nav-icon fe fe-corner-left-down me-2"></i> Menu Level
                            </a>
                            <div id="navMenuLevel" class="collapse @@if (context.page_group === 'menulevel') { show }" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'twolevel') { active }" href="#!" data-bs-toggle="collapse" data-bs-target="#navMenuLevelSecond" aria-expanded="false" aria-controls="navMenuLevelSecond">
                                    Two Level
                                </a>
                                        <div id="navMenuLevelSecond" class="collapse" data-bs-parent="#navMenuLevel">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link @@if (context.page === 'navitem1') { active }" href="#!">NavItem 1</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link @@if (context.page === 'navitem2') { active }" href="#!">NavItem 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page_group !== 'threelevel') { collapsed } " href="#!" data-bs-toggle="collapse" data-bs-target="#navMenuLevelThree" aria-expanded="false" aria-controls="navMenuLevelThree">
                                    Three Level
                                </a>
                                        <div id="navMenuLevelThree" class="collapse @@if (context.page_group === 'threelevel') { show }" data-bs-parent="#navMenuLevel">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link @@if (context.page_group !== 'navitemthree1') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navMenuLevelThreeOne" aria-expanded="false" aria-controls="navMenuLevelThreeOne">
                                                NavItem 1
                                            </a>
                                                    <div id="navMenuLevelThreeOne" class="collapse collapse @@if (context.page_group === 'navitemthree1') { show }" data-bs-parent="#navMenuLevelThree">
                                                        <ul class="nav flex-column">
                                                            <li class="nav-item">
                                                                <a class="nav-link @@if (context.page === 'navchilitem') { active }" href="#!">
                                                            NavChild Item 1
                                                        </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link @@if (context.page === 'navitem2') { active }" href="#!">Nav Item 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <div class="nav-divider"></div>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <div class="navbar-heading">Documentation</div>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link" href="@@webRoot/docs/index.html">
                                <i class="nav-icon fe fe-clipboard me-2"></i> Documentation
                            </a>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link" href="@@webRoot/docs/changelog.html">
                                <i class="nav-icon fe fe-git-pull-request me-2"></i> Changelog
                                <span class="badge bg-primary ms-2">2.1.0</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Card -->
                    <div class="card bg-dark-primary shadow-none text-center mx-4 my-8">
                        <div class="card-body py-6">
                            <img src="../../assets/images/background/giftbox.png" alt="" />
                            <div class="mt-4">
                                <h5 class="text-white">Unlimited Access</h5>
                                <p class="text-white-50 fs-6">
                                    Upgrade your plan from a Free trial, to select ‘Business Plan’. Start Now
                                </p>
                                <a href="#!" class="btn btn-white btn-sm mt-2">Upgrade Now</a>
                            </div>
                        </div>
                    </div>
                </div>
</nav>